<style>
    .div-form{
        padding-top: 10px;
    }

    .div-space-right{
        margin-right: 20px;
    }

    .teatarea-no-resize{
        resize: none;
    }
</style>

<script src="/DemoGym/front/modulos/aparatosModulo/js/AparatoBL.js"></script>

<div class="div-form" data-ng-show="isSmall">
    <form class="form-inline" role="form" name="aparatoForm">
        <div class="form-group div-space-right">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control input-sm" id="name" data-ng-model="name">
            <!--div class="help-block" data-ng-messages="aparatoForm.name.$error" data-ng-if="aparatoForm.name.$touched">
                <div data-ng-messages-include="/DemoGym/front/assets/utils/messages.html"></div>
            </div-->
        </div>

        <div class="form-group div-space-right">
            <label for="descrip">Descripción:</label>
            <textarea type="text" class="form-control teatarea-no-resize" id="descrip" data-ng-model="descripcion"></textarea>
        </div>

        <div class="checkbox div-space-right">
            <label><input type="checkbox" data-ng-model="status"> Estatus </label>
        </div>

        <button type="submit" class="btn btn-primary" data-ng-click="saveAparato()">Guardar</button>
    </form>
</div>
